nav {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            float: left;
            margin-right: 20px;
            a {
                text-decoration: none;
                color: black;
                padding: 6px 4px;
                background-color: #ddd;
            }
        }
    }
}