header a:link, a:visited{
    text-decoration: none;
}
nav {
    ul {
        padding: 0;
        margin: 20px 0 0 0;
        list-style-type: none;
        li {
            float: left;
            margin-right: 20px;
            a:link, a:visited {
                text-decoration: none;
                color: #fff;
                padding: 8px 10px;
                background-color: #000;
            }
        }
    }
}
a:link, a:visited{
    color:#000;
}
a:hover {
    text-decoration: none;
}